<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TimerWithImageDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55BD92CB1E28F0C800B87B4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55BD92DF1E28F0C900B87B4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55BD92EA1E28F0C900B87B4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
